<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="auth.user$ | async as user" class="nav-link" [routerLinkActive]="'active'"routerLink="/skins">Inicio</a>
          
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="auth.user$ | async as user"
            routerLink="/items"
            [routerLinkActive]="'active'"
            >Items</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="auth.user$ | async as user"
            routerLink="/champions"
            [routerLinkActive]="'active'"
            >Champions</a>
        </li>
      </ul>
      <ul *ngIf="auth.user$ | async as user" class="nav justify-content-end m-2">
        {{user.name}}
      </ul>
      <form class="d-flex">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button
            class="btn btn-outline-danger"
            (click)="auth.logout({ returnTo: document.location.origin })"
          >
            Log out
          </button>
        </ng-container>

        <ng-template #loggedOut>
          <button
            class="btn btn-outline-success"
            (click)="auth.loginWithRedirect()"
          >
            Log in
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</nav>
