<div
  class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4 mt-3"
  *ngIf="!loading; else load"
>
  <div class="col mb-4" *ngFor="let champion of champions">
    <div class="card h-100">
      <img
        src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{
          champion.id
        }}_0.jpg"
        (click)="abrirModal(modal, champion.id)"
        class="card-img-top img-gray pointer"
        alt="{{ champion.name }}"
      />
    </div>
  </div>
</div>

<ng-template #load class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

<ng-template #modal let-modal>
  <app-modal-skins
    [cham]="cham"
    [loadingModal]="loadingModal"
    [champion]="champion"
  ></app-modal-skins>
  <div class="modal-footer d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
